/*1*/
.f14464848051
	{
		margin:2rem 0rem;
	}
.f14464848054
	{
		float:left;
		width:50%;
	}
.f14464848055
	{
		margin:0.6rem;
		text-align:center;
	}
.f14464848059
	{
		line-height:1.6rem;
		color:#666;
		font-size:0.8rem;
		margin-top:0.4rem;
	}
/*2*/
.f14821291951
	{
		overflow:hidden;
		margin:1.5rem 0rem;
		font-size:0.8rem;
	}
.f14821291953
	{
		margin-bottom:0.5rem;
	}
.f14821291954 .f14821291955
	{
		display:block;
		color:#333333;
		line-height:1.4rem;
	}
.f14821291956
	{
		overflow:hidden;
	}
.f14821291957
	{
		float:left;
	}
.f14821291959
	{
		width:30vw;
	}
.f14821291960
	{
		float:right;
		width:62vw;
		color:#999999;
		line-height:6vw;
		height:18vw;
		overflow:hidden;
	}