.f14464848852 { width:1000px; margin-left:auto; margin-right:auto; overflow:hidden; }
.f14464848853 { float:left; width:230px; background-color:#E3E2E7; }
.f14464848854 { float:right; position:absolute; border-top-width:5px; border-top-style:solid; border-top-color:#333; border-left-width:5px; border-left-style:solid; border-left-color:#333; margin-top:-300px; background-color:#fff; margin-left:230px; width:765px; }
.f14464854882 { }
.f14464854883 { text-align:center; }
.f14464854884 { width:400px; height:400px; }
.f144648548811 { text-align:left; padding:20px; }
.f144648548812 { height:30px; line-height:30px; background:#f4f4f4; padding-left:20px; padding-right:20px; border-bottom-color:#ddd; border-bottom-style:solid; border-bottom-width:1px; position:relative; }
.f144648548813 { padding-top:5px; padding-bottom:5px; padding-left:5px; padding-bottom:5px; }
.f14464854887 { line-height:30px; }
.d1446484 { background-image:url(../images/1447251697_background.png); background-repeat:repeat-y; }
.big { font-size:15px; }
.f14464854881 { }
