.f14464843411
	{
		margin:2rem 0rem;
	}
.f14464843413
	{
		line-height:2.6rem;
		font-size:0.8rem;
		font-size:0.8rem;
	}
.f14464843413 .f14464843414
	{
		display:block;
		float:left;
		color:#000;
		width:76%;
		height:2.6rem;
		overflow:hidden;
	}
.f14464843413 .f14464843415
	{
		display:block;
		float:right;
		color:#9f9f9f;
	}