.f14464847351
	{
		margin:1.5rem 0rem;
	}
.f14464847352
	{
		text-align:center;
		color:#1d1d1d;
		font-size:1.1rem;
		font-weight:bold;
	}
.f14464847353
	{
		margin:0.8rem 1.5rem;
	}
.f14464847354	
	{    
		overflow: hidden;
		color: #1d1d1d;
		font-size: 0.8rem;
		line-height: 1.8rem;
	}
.f14464847361
	{
		margin-top:0.5rem;
	}
.f14464847355 .f14464847356
	{
		display:block;
		color:#777777;
		font-size:0.8rem;
		line-height:1.6rem;
		background-color:#dddddd;
		margin-bottom:0.4rem;
		border-radius:1rem;
		padding:0rem 0.8rem;
	}
.f14464847362
	{
		text-align:center;
	}
.f14464847362 .f14464847363	
	{
		display:inline-block;
		background-color:#A41C1C;
		line-height:1.6rem;
		color:#FFF;
		padding:0rem 0.8rem;
		border-radius:1rem;
	}